   <!--SKIP CATEGORIES-->
<div class="slider-wrapper secondary-slider-wrapper my-20" style="display:none">
    <div class="slider-wrapper__img-wrapper">
        <div style="position: relative;">
            <img src="/assets/img/slider/1586857184Fr9XIKSRk3.png" alt="BreakFast" class="slider-wrapper__img slider-cust-img" style="height: 4.8rem; width: 4.8rem; border-radius: 0.4rem;">
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </div>
    </div>
    <div class="slider-wrapper__img-wrapper">
        <div style="position: relative;">
            <img src="/assets/img/slider/1586857208IKxS0xzNCA.png" alt="Italian" class="slider-wrapper__img slider-cust-img" style="height: 4.8rem; width: 4.8rem; border-radius: 0.4rem;">
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </div>
    </div>
    <div class="slider-wrapper__img-wrapper">
        <div style="position: relative;">
            <img src="/assets/img/slider/1586857230E9mmRxVoPf.png" alt="Organic" class="slider-wrapper__img slider-cust-img" style="height: 4.8rem; width: 4.8rem; border-radius: 0.4rem;">
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </div>
    </div>
    <div class="slider-wrapper__img-wrapper">
        <div style="position: relative;">
            <img src="/assets/img/slider/1586857252xhTMaFAN65.png" alt="Chinese" class="slider-wrapper__img slider-cust-img" style="height: 4.8rem; width: 4.8rem; border-radius: 0.4rem;">
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </div>
    </div>
    <div class="slider-wrapper__img-wrapper">
        <div style="position: relative;">
            <img src="/assets/img/slider/1586857278ZxawNu82JS.png" alt="Fast" class="slider-wrapper__img slider-cust-img" style="height: 4.8rem; width: 4.8rem; border-radius: 0.4rem;">
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </div>
    </div>
    <div class="slider-wrapper__img-wrapper">
        <div style="position: relative;">
            <img src="/assets/img/slider/1586857298jqhvbDwe1E.png" alt="Indian" class="slider-wrapper__img slider-cust-img" style="height: 4.8rem; width: 4.8rem; border-radius: 0.4rem;">
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </div>
    </div>
    <div class="slider-wrapper__img-wrapper">
        <div style="position: relative;">
            <img src="/assets/img/slider/1586857314fu4h6OfgFw.png" alt="Mexican" class="slider-wrapper__img slider-cust-img" style="height: 4.8rem; width: 4.8rem; border-radius: 0.4rem;">
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </div>
    </div>
    <div class="slider-wrapper__img-wrapper">
        <div style="position: relative;">
            <img src="/assets/img/slider/1586857333k98sV3UGba.png" alt="Continental" class="slider-wrapper__img slider-cust-img" style="height: 4.8rem; width: 4.8rem; border-radius: 0.4rem;">
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </div>
    </div>
</div>