<div class="content pt-10 py-5 font-size-xs clearfix footer-fixed">
    <a class="col footer-links px-2 py-1 active" aria-current="page" href="/restaurants/@Location/@SearchItem"><i class="si si-pointer fa-2x"></i> <br><span class="active-footer-tab">Near Me</span></a>
    <a class="col footer-links px-2 py-1" href="/search/@Location"><i class="si si-magnifier fa-2x"></i> <br><span class="">Filter</span></a>
    <a class="col footer-links px-2 py-1" href="/cart"><i class="si si-bag fa-2x"></i> <br><span class="">Cart<span class="cart-quantity-badge" style="background-color: rgb(252, 128, 25);">3</span></span></a>
    <a class="col footer-links px-2 py-1" href="/myaccount"><i class="si si-user fa-2x"></i> <br><span class="">Account</span></a>
</div>


@code {
    [Parameter]
    public string Location { get; set; } = string.Empty;
    [Parameter]
    public string SearchItem { get; set; } = string.Empty;
}
