@if (IsVisible)
{
    <div class="float-cart float-cart--open" style="background-color: rgb(96, 178, 70); color: rgb(255, 255, 255);">
        <a class="text-white" href="/cart">
            <span>Successfully Updated @(string.IsNullOrWhiteSpace(RestaurantName) ? "Restaurant": RestaurantName)'s Order Cart</span><span class="pl-5 pr-5">&nbsp;</span>
            <span class="pull-right">View Cart <i class="si si-basket"></i></span>
        </a>
    </div>
}
@ChildContent
@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string RestaurantName { get; set; }
    private bool IsVisible { get; set; } = false;
    protected override async Task OnParametersSetAsync()
    {
        IsVisible = false;
        await Task.Delay(200);
        IsVisible = true;
    }
}