<div>
    <div class="float-cart float-cart--open" style="background-color: rgb(96, 178, 70); color: rgb(255, 255, 255);">
        <a class="text-white" href="/cart">
            <span>1 Items</span>
            <span class="pl-5 pr-5">&nbsp;|&nbsp;</span>
            <span>$15.00</span>
            <span class="pull-right">View Cart <i class="si si-basket"></i></span>
            <canvas style="border-radius: inherit; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;" height="0" width="0"></canvas>
        </a>
    </div>
</div>
