<div class="slider-wrapper bg-light py-20 my-0">
    <a class="slider-wrapper__img-wrapper" style="position: relative;" href="/restaurant.html?refer=the-halal-guys-yoXsvgO8ElUuFWD/">
        <img src="/assets/img/slider/1566646099fzDvDqnOuP.png" alt="Explore New" class="slider-wrapper__img slider-cust-img slider-wrapper__img-shadow " style="height: 12rem; width: 12rem;">
    </a>
    <a class="slider-wrapper__img-wrapper" style="position: relative;" href="/toronto/restaurants/kinka-izayaka-ZWvi0HAtLwVCwJt/">
        <img src="/assets/img/slider/1566646153OAgdlfakJi.png" alt="Pizza Party" class="slider-wrapper__img slider-cust-img slider-wrapper__img-shadow " style="height: 12rem; width: 12rem;">
    </a>
    <a class="slider-wrapper__img-wrapper" style="position: relative;" href="/toronto/restaurants/the-thai-authority-AZpuuJomGYBMs33/">
        <img src="/assets/img/slider/1566646245o1m4bOO6vi.png" alt="Free Offer" class="slider-wrapper__img slider-cust-img slider-wrapper__img-shadow " style="height: 12rem; width: 12rem;">
    </a>
    <a class="slider-wrapper__img-wrapper" style="position: relative;" href="/toronto/restaurants/coco-b-Qomj86VipB3F283/">
        <img src="/assets/img/slider/156664628890XKDEjOhq.png" alt="Icecream" class="slider-wrapper__img slider-cust-img slider-wrapper__img-shadow " style="height: 12rem; width: 12rem;">
    </a>
</div>


