<div class="col-xs-12 col-sm-12 restaurant-block">
    <a class="block text-center mb-3" href="/restaurant.html?refer=wing-machine-college-y6xiMMFYajWpDwV">
        <div class="block-content block-content-full ribbon ribbon-bookmark ribbon-warning pt-2 ">
            <div class="ribbon-box">Featured</div><img src="/assets/img/foods/grilled-chicken.jpg" class="react-reveal restaurant-image" style="animation-fill-mode: both; animation-duration: 500ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-814509459845526-5;">
        </div>
        <div class="block-content block-content-full restaurant-info">
            <div class="font-w600 mb-5 text-dark">Chicken In Hotel</div>
            <div class="font-size-sm text-muted truncate-text text-muted">Chicken Choma, Chicken Fry</div>
            <hr class="my-10">
            <div class="text-center restaurant-meta mt-5 d-flex align-items-center justify-content-between text-muted">
                <div class="col-2 p-0 text-left"><i class="fa fa-star pr-1" style="color: rgb(252, 128, 25);"></i> 4.7</div>
                <div class="col-4 p-0 text-center"><i class="si si-clock pr-1"></i>Opened</div>
                <div class="col-6 p-0 text-center"><i class="si si-wallet pr-1"></i>$$</div>
            </div>
        </div>
    </a>
</div>
