@model ODA.Entity.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryMobile" class="control-label"></label>
                <input asp-for="PrimaryMobile" class="form-control" />
                <span asp-validation-for="PrimaryMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryEmail" class="control-label"></label>
                <input asp-for="PrimaryEmail" class="form-control" />
                <span asp-validation-for="PrimaryEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacedOrders" class="control-label"></label>
                <input asp-for="PlacedOrders" class="form-control" />
                <span asp-validation-for="PlacedOrders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancelledOrders" class="control-label"></label>
                <input asp-for="CancelledOrders" class="form-control" />
                <span asp-validation-for="CancelledOrders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedOrders" class="control-label"></label>
                <input asp-for="CompletedOrders" class="form-control" />
                <span asp-validation-for="CompletedOrders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TokenKey" class="control-label"></label>
                <input asp-for="TokenKey" class="form-control" />
                <span asp-validation-for="TokenKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
